---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    <p>My current interests lie in the intersection of 3D avatars and generative models, with particular focuses on <b>skeleton-based human motions</b>, <b>mesh-based human shapes</b>, <b>diffusion models</b>, and their <b>adversarial robustness</b>.</p>
    
    <p>You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</p>
    
    <!-- <h3>Research Areas</h3>
    <ul>
      <li>Deep Learning and Machine Learning</li>
      <li>Computer Vision</li>
      <li>Computer Graphics</li>
      <li>Trustworthy Artificial Intelligence</li>
    </ul>
    
    <h3>Research Topics</h3>
    <ul>
      <li>Spatial-Temporal Modelling and Analysis</li>
      <li>Generative Models</li>
      <li>Adversarial Attack and Defense</li>
    </ul>
    
    <h3>Data Modalities</h3>
    <ul>
      <li>Skeleton-based Human Motions</li>
      <li>Mesh-based Human Shapes</li>
    </ul> -->
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



